
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, p {
    margin: 0;
    color: #04AA6D;
  }
  

  header {
    background-color: #aa2a2afb;
    color: black;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 5px;
    
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
    margin: 30px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  #home p{
      padding: 5px;
  }
  section {
    padding: 40px;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .speaker {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  

  form {
    max-width: 400px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  #contact {
    background-color: #ba6c6cfb;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
  }
  #contact p{
    padding: 10px;
  }
  
  
  #btn{
     color: white;
     background-color: black;
     padding: 5px;
  }
  footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  * {box-sizing: border-box}

/* Add padding to containers */
.container {
  border: 2px solid;
  padding: 10px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
#registration {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.regf{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}